@model IEnumerable<Chaperone.Models.Message>

@{
    ViewBag.Title = "IndexGuide";
    Layout = "~/Views/Shared/_GuideDashLayout.cshtml";
}

<h3>IndexGuide</h3>


<h2 style="text-align:center">Messages</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Form)
        </th>
        <th>
            Message(s)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Form)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message1)
        </td>
        
    </tr>
}

</table>
<h3 style="text-align:center; color:red;font-family:Consolas">@TempData["messageMessage"]</h3>